<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/fragments :: head}"></head>

<body>
<h1>

</h1>
<!-- back home button -->
<div class="container mt-3">
    <a th:href="@{/PhoneHomepage}" class="btn btn-primary btn-sm">Back Home</a>
</div>

<!-- add drink Form -->
<form class="container mt-3" th:action="@{/saveOrder}" th:method="post" th:object="${phoneOrder}">

    <div class="border p-3">
        <input type="hidden" th:field="*{id}">
        <div class="form-group row">
            <label th:for="name" class="col-sm-4 col-form-label required">Customer Name</label>
            <div class="col-sm-8">
                <input type="text" th:field="*{name}" class="form-control" required>
            </div>
        </div>

        <div class="form-group row">
            <label th:for="contact" class="col-sm-4 col-form-label">Contact</label>
            <div class="col-sm-8">
                <input type="text" th:field="*{contact}" class="form-control">
            </div>
        </div>

        <div class="form-group row">
            <label th:for="phoneName" class="col-sm-4 col-form-label">Phone Name</label>
            <div class="col-sm-8">
                <input type="text" th:field="*{phoneName}" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label th:for="qantity" class="col-sm-4 col-form-label">Quantity</label>
            <div class="col-sm-8">
                <input type="text" th:field="*{quantity}" class="form-control">
            </div>
        </div>

        <div class="form-group row">
            <label th:for="Price" class="col-sm-4 col-form-label">Price</label>
            <div class="col-sm-8">
                <input type="text" th:field="*{price}" class="form-control">
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary m-2"   th:onclick="submitForm()">Submit</button>
            <button type="button" class="btn btn-secondary m-2" th:onclick="cancelForm()">Cancel</button>
        </div>
    </div>

</form>

<script type="text/javascript">
    function cancelForm() {
        window.location = "[[@{/PhoneHomepage}]]";
    }
</script>

</body>
</html>